* {
    font-family: 'Montserrat', sans-serif;
}


/*Esto es lo que viene siendo l págona entera*/

html,
body {
    margin: 0;
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.cabecera {
    display: flex;
    flex-direction: row;
}

.fotologo {
    height: 100px;
    width: 100px;
}

.navbar {
    display: flex;
    background-color: rgb(6, 39, 82);
    flex-grow: 1;
}

.capa-logo {
    display: flex;
}

.navbar ul,
.piedepagina ul {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: space-around;
    flex-grow: 1;
    margin: 0;
    padding: 0.25em;
}

li {
    list-style-type: none;
}

li a {
    color: white;
    text-decoration: none;
    font-size: 30px;
}

.banner {
    background-image: url(../imagenes/numeroschulos.jpg);
    height: 10em;
    width: 100%;
    background-size: cover;
}

.imagen-banner {
    width: 35%;
    height: auto;
    max-height: 10em;
    max-width: auto;
    margin-left: 20px;
}

.contenido {
    justify-content: center;
    background-color: rgb(129, 202, 236);
    flex: 1;
    padding: 5em;
    overflow-y: scroll;
}

.contenido2 {
    display: flex;
    justify-content: center;
    background-color: rgb(129, 202, 236);
    flex: 1;
    padding: 5em;
    overflow-y: scroll;
}

.contenido3 {
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: rgb(129, 202, 236);
    flex: 1
}

.foto-profesor {
    width: 180px;
    height: 180px;
    border-radius: 125px;
    border: 4px solid rgb(255, 255, 255);
    box-shadow: 20px 20px 50px 30px rgba(2, 2, 29, 0.329)
}

h4 {
    color: white;
}

.tarjeta-profesor {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    border: 1px solid;
    border-radius: 30px;
    margin-bottom: 80px;
    margin-top: 40px;
    background-color: rgb(6, 39, 82)
}

.descripcion-mentor {
    padding-left: 1.5em;
    max-width: 30ch;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    text-align: center;
    color: white
}

.lista-fechas {
    padding: 0;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

.item-lista-fechas:last-child {
    border: 0px;
}

.item-lista-fechas {
    border-style: solid;
    border-color: rgb(6, 39, 82);
    border-width: 2px;
    border-top: 0px;
    border-right: 0px;
    border-left: 0px;
    padding: 1em;
    display: flex;
    flex-direction: row;
}

.item-lista-fechas-fecha {
    display: flex;
    flex: 2;
    flex-direction: row;
    align-items: center;
    color: rgb(6, 39, 82);
}

.item-lista-fechas-fecha-dia {
    display: flex;
    flex: 1;
    justify-content: center;
    font-size: 2em;
    font-weight: bold;
    color: rgb(6, 39, 82);
}

.item-lista-fechas-fecha-texto {
    display: flex;
    flex-direction: column;
    flex: 1;
    text-align: center;
}

.nombre-curso {
    font-weight: bold;
    font-size: 1.25em;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modalidad-curso {
    font-style: italic;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.boton-inscripcion {
    background-color: rgb(6, 39, 82);
    color: white;
    border: 0;
    border-radius: 2em;
    font-size: 1em;
    padding: 1em;
    cursor: pointer;
}

.item-lista-fechas-descripcion {
    display: flex;
    flex-direction: column;
    flex: 5;
    text-align: center;
}

.item-lista-fechas-acciones {
    display: flex;
    flex: 3;
    align-items: center;
    justify-content: center;
}


/*Esto es el pie de página*/

footer {
    display: flex;
    background-color: rgb(6, 39, 82);
}

.piedepagina {
    width: 100%;
    display: flex;
    padding: 0.4em;
}

.piedepagina ul li a {
    display: flex;
    align-items: center;
}

.piedepagina img {
    width: 50px;
    height: 50px;
}

.tabla {
    background-color: rgb(61, 121, 199);
    border: 5px solid;
    border-radius: 20px;
    text-align: center;
}

td,
th {
    width: 100px;
    border: 2px solid rgb(2, 43, 95);
    padding: 20px;
    background-color: white;
    border-radius: 0.5em;
}

thead {
    font-size: 1.5rem;
    color: white;
}

tbody {
    border-radius: 1em;
}

th {
    background-color: rgb(6, 39, 82);
}

.alumnos {
    font-size: 2rem;
    font-weight: bold;
    padding-bottom: 15px;
}

@media (max-width: 600px) {
    .cabecera {
        flex-direction: column;
    }
    .capa-logo {
        justify-content: center;
    }
    .contenido {
        padding: 1em;
    }
    .navbar {
        display: none;
    }
    .navbar ul {
        flex-direction: column;
    }
    .navbar ul li {
        padding: 0.5em;
    }
    .piedepagina ul {
        flex-direction: column;
    }
    .piedepagina ul li {
        margin: 0.5em;
    }
}